.home {
  height: calc(100vh-80px);
  width: 100vw;
}
  
.text-pane {
  text-align: left;
  overflow-y: scroll;

  padding: 2vw;
  font-size: 32px;
  background-color: white;
  height: 68vh;
  border-radius: 1vw;
  border: 2px solid rgba(26,29,34, .2);
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.green-underline {
  /* text-decoration: 3px solid rgba(0,209,178,.8) underline; */
  color: rgba(0,209,178,.8);
}

.text-paneDM {
  background-color: rgb(25,28,34);
  box-shadow: 0 0 0 0;
  border: 1px solid #EEEEEE;
}
  
.input-pane .output-pane {
  float: left;
}

.pane-label {
  padding: 4vh;
  padding-bottom: 1vh;
  padding-top: 2vh;
  color: rgba(188,198,209);
}

.pane-labelDM {
  color: rgba(188,198,209);
}

.language-label {
  color: #BBBBBB;
}

.language-labelDM {
  color: rgba(188,198,209);
}

.pane {
  width: 48.5vw;
  float: left;
  margin-left: .75vw;
  margin-right: .75vw;
  justify-content: center;
}

.pane-empty {
  text-align: center!important;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.speaker-prompt {
  height: 5rem;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  color: rgba(188,198,209);
  stroke: rgba(188,198,209);
  fill: rgba(188,198,209);
}

.speaker-promptDM {
  color: white;
  stroke: white;
  fill: white;
}

.speaker-prompt-text {
  margin-top: 5vh;
  color: rgba(188,198,209);
}

@media (max-width:786px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .text-pane {
    margin-left: 2vw;
    margin-right: 2vw;
    height: 32vh;
  }
  .pane {
    width: 100vw;
    margin: 0vw;
  }
  .speaker-prompt {
    margin-top: 1%;
    margin-bottom: .5vh;
  }
  .speaker-prompt-text {
    font-size: 21px;
    margin-top: .5vh;
  }
}

@media (max-height:450px) {
  .input-pane {
    display: none!important;
  }
  .text-pane {
    height: 60vh;
  }
}

@media (max-height:300px) {
  .text-pane {
    height: 50vh;
  }
  .speaker-prompt-text {
    display: none;
  }
}