.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.AppDM {
  background-color: rgb(12,14,17);
  color: rgba(188,198,209);
}

div {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.header {
  background-color: white!important;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
}

.headerDM {
  background-color: rgb(12,14,17)!important;
  color: rgba(188,198,209);
}

.micDM {
  fill: rgba(188,198,209);
  stroke: rgba(188,198,209);
  color: rgba(188,198,209);
}

.logo {
  padding-left: 0px;
  padding-right: 20px;
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.real-logo {
  height: 22px;
}

.header-item {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  float: left;
  font-size: 24px!important;

  opacity: .4;
}

.mute-unmute {
  height: 20px;
  padding: 8px;
}

.slash-spacing {
  padding-left: 2px;
  padding-right: 0px;
  margin-right: 42.5px;
}

.header-item:hover {
  opacity: 1;
}

@media (max-width:786px) {
  .header {
    height: 40px;
    background-color: #EEEEEE;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
  }
  .header-item {
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 40px;
    float: left;
    font-size: 18px!important;
  
    opacity: .4;
  }
  .logo {
    font-size: 22px!important;
  }
  .slash-spacing {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 28.5px;
  }
  .mute-unmute {
    margin-top: 0px;
    height: 20px;
    padding: 8px;
  }
}